@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body{
    font-family: 'Bungee', cursive;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

/* ===================== Header style ========================== */

header{
    text-align: center;
}


/* ===================== Main page style ========================== */

#game-info{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}



@media (max-width: 890px) {
    #game-board{
        flex-direction: column;
        justify-content: space-evenly;
    }

    #game-board td{
        width: 20px;
        height: 40px;
        border: 1px solid #ccc;
        padding: 0;
        text-align: center;
    }
}